{% extends 'base.html' %}

{% block content %}
    <div class="main">
        <form class="unlock-form" method="post">
            <label for="pw">Password:</label>
            <br>
            <input name="pw" id="pw" type="password">
            <div class="center">
                <input type="submit" class="btn" value="Continue">
            </div>
        </form>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <div class="alert">
              <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
              {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
    </div>
{% endblock %}